body{
 
}
h3,h5 {
    color: rgb(43, 166, 203);
}

h5{
font-size: 1.5em;
margin: 0px 0 5px;
padding-bottom: 8px;
background: url(../laravel/img/col_h2.gif) 0 100% no-repeat;
}

.contain-to-grid, .top-bar{
background: rgb(32,124,202); /* Old browsers */
background: -moz-linear-gradient(top, rgba(32,124,202,1) 54%, rgba(41,137,216,1) 78%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(54%,rgba(32,124,202,1)), color-stop(78%,rgba(41,137,216,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(32,124,202,1) 54%,rgba(41,137,216,1) 78%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(32,124,202,1) 54%,rgba(41,137,216,1) 78%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(32,124,202,1) 54%,rgba(41,137,216,1) 78%); /* IE10+ */
background: linear-gradient(to bottom, rgba(32,124,202,1) 54%,rgba(41,137,216,1) 78%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
}
.logoukraine{
margin: 0px -20px -20px -16px;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-size: 17px !important;
font-weight: bold;
height: 45px;
line-height: 45px;
padding: 0 15px;
color: white;
display: block;
background: none; 
}

.top-bar ul > li.name {
background: none;
    height: 55px;
    margin-top:-0px;
  }
   .top-bar ul > li.active, .top-bar ul > li:hover {
 
	background:none;
  }
 
 
ul.button-group li {
padding: 0;
margin: 5px 0 0 -5px;

}

.logoukraine:hover{
margin: 0px -20px -20px -16px;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
font-size: 17px !important;
font-weight: bold;
height: 45px;
line-height: 45px;
padding: 0 15px;
color: white;
display: block;
background: none;
